.TeamStatsMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #181831;
    margin: 15px 20px;
    padding: 10px 20px 20px 20px;
    color: white;
    font-weight: normal;
    width: 15%;
    font-size: 16px;
    box-sizing: border-box;
    height: fit-content;
}

.TeamStatsCards {
    flex-grow: 1;
    height: inherit;
}
