{
  "env": {
    "jest": true
  },
  "extends": [
    "react-app",
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "ignorePatterns": [
    "config/*",
    "public/*",
    "scripts/*",
    "src/serviceWorker.js",
    "*.test.js"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "space-in-parens": [ 0, "always" ],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "no-use-before-define": [ 2, { "functions": false } ],
    "no-underscore-dangle" : [0, "always"]
  }
}
