.Toolbar {
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: #181831;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .Toolbar {
        height: 60px;
    }
}

