.Results {
    flex-direction: column;
}

.Header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.VenueToggle {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    box-sizing: border-box;
}
