.SidebarMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background-color: #181831;
    color: white;
    position: fixed;
    right: 0;
    width: 20%;
    transition: transform 0.3s ease-out;
}

@media (max-width: 480px) {
    .SidebarMenu {
        width: 100%;
        transition: all 0.3s ease-in;
        padding: 4vh 4vh;
        justify-content: space-between;
        align-items: center;
    }
}