.ResultItem {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px 0;
}

.Date {
    width: 20%;
    font-weight: lighter;
}
.Home {
    width: 35%;
}

.Away {
    width: 35%;
    text-align: right;
}

.Score {
    width: 10%;
    text-align: center;
}