.Layout {
    display: flex;
    margin-top: 70px;
    width: 100%;
    min-height: auto;
    top: 0;
    left: 0;
}

.Sidebar {
    background-color: #181831;
    color: white;
    position: fixed;
    right: 0;
    width: 20%;
}

@media (max-width: 480px) {
    .Layout {
        margin-top: 60px;
    }

    .Sidebar {
        padding: 4vh 4vh;
        justify-content: space-between;
        align-items: center;
        /*right: ${props => (props.open) ? "-0%" : "0"};   */
    }
}