.TeamStats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.ResultList {
    display: flex;
    flex-direction: column;
    background-color: #181831;
    margin: 15px 20px;
    padding: 10px 20px 20px 20px;
    color: white;
    width: 50%;
    font-size: 14px;
    box-sizing: border-box;
}

.ResultList h3 {
    text-align: left;
    font-size: 22px;
    color: #22ccde;
}