.TeamStatsToggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0 0 0;
    border-top: 2px solid #43434e;
}

.VenueToggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
    border-right: 2px solid #43434e;
}
