.SidebarMax {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 15%;
    margin-top: 10px;
    box-sizing: border-box;
    height: 100vh;
    flex-shrink: 0;
}

.Icon {
    color: #22ccde;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.Icon svg {
    cursor: pointer;
}

@media (max-width: 768px) {
    .SidebarMax {
        width: 50%;
    }
}
